<h1>Show Parent</h1>

<table class = "tables">
  <tr>
    <th>First Name</th>
		<th>Middle Name</th>
    <th>Last Name</th>
		<th>Email</th>
		<th>Kids</th>
  </tr>
 
  <tr>
    <td><%= @parent.f_name %></td>
    <td><%= @parent.m_name %></td>
    <td><%= @parent.l_name %></td>
    <td><%= @parent.email %></td>
		<td>
			<% Family.where(:parent_id => @parent.id).each do |f| %>
				<%= Kid.find_by(id: f.kid_id).f_name %>
			<% end %>
		</td>
  </tr>
</table>
<div class = "change_links">
<%= button_to 'Edit', edit_parent_path(@parent), method: :get%>
</div>
<div class = "change_links">
<%= button_to 'Back', parent_index_path, method: :get %>
</div>
